{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container-fluid bgall">
        <div class="container">
            <div class="row">
                <div class="col-md-12 bgrubrikname paddingRB mt-5 mb-5">
                    <h5 class="rubriknameRB">Mentions Légales</h5>
                    <span class="textRBname">Politique de confidentialité.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bgrubrikname mb-5 pt-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mentionlgTL police mb-5"> Utilisation des données personnelles collectées </h2>
                        </div>
                        <div class="col-md-12">
                            <h2 class="mentionlgTL police mb-5"> Commentaires </h2>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="mentionlgP"> 
                                Quand vous laissez un commentaire sur notre site web, les données inscrites dans le formulaire de commentaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables.
                                Après validation de votre commentaire, votre photo de profil et votre Pseudo sera visible publiquement à coté de votre commentaire.
                            <p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <h2 class="mentionlgTL police"> Contenu embarqué depuis d’autres sites </h2>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="mentionlgP"> 
                                Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.
                                Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web. 
                            </p>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="mentionlgP"> Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.
                                Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site (si cela est possible), nous stockons également les données personnelles indiquées dans leur profil. Les gestionnaires du site peuvent aussi voir et modifier ces informations.
                                Les droits que vous avez sur vos données. 
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="mentionlgP"> 
                                Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}